---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import Projects from '../components/Projects.astro';
import HowItWorks from '../components/HowItWorks.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Products />
    <Projects />
    <HowItWorks />
    <About />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
